
.radio-input-image input.radio-input-image-item[type="radio"][id^="cb"] {
      display: none;
}
    
.radio-input-image    label.radio-input-image-src {
      /* border: 1px solid #fff; */
      /* padding: 10px; */
      display: block;
      position: relative;
      margin: 5px;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
}

.radio-input-image {
      display: inline-block;
      float: left;
      width: 25%;
  }

  @media (max-width: 760px) {
        
.radio-input-image {
      display: inline-block;
      float: left;
      width: 50%;
  }

  }
     
.radio-input-image label.radio-input-image-src:before {
      background-color: white;
      color: white;
      content: " ";
      display: block;
      border-radius: 50%;
      border: 1px solid grey;
      position: absolute;
      top: 5px;
      left: 5px;
      width: 18px;
      height: 18px;
      text-align: center;
      line-height: 28px;
      transition-duration: 0.4s;
      /* transform: scale(0); */
      z-index:100;
}
    
.radio-input-image    label.radio-input-image-src img {
      /* height: 100px; */
      width: 100%;
      margin-bottom: 5px;
      transition-duration: 0.2s;
      transform-origin: 50% 50%;
}
    
.radio-input-image input.radio-input-image-item:checked + label.radio-input-image-src {
      border-color: #ddd;
}
    
.radio-input-image input.radio-input-image-item:checked + label.radio-input-image-src:before {
      /* content: "✓"; */
      border: 7px solid #f18381;
      transition: border-width 0.3s;
      /* background-color: grey; */
      transform: scale(1);
}
    
.radio-input-image input.radio-input-image-item:checked + label.radio-input-image-src img {
      /* transform: scale(0.9); */
      /* box-shadow: 0 0 5px #333; */
      z-index: -1;
}