a {
  color: #f18381;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-brand {
  max-width: 250px;
}

.App .navbar-light .navbar-toggler {
  border-color: transparent;
}

@media( max-width: 762px ) {
  
.navbar-brand {
  max-width: 200px;
}

}